/* GOOGLE FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

/* RESET */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-family: "Bitcount Grid Double", Arial;
}

body {
  background: #8ebb6f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.screen {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #ffffff27;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 1.25rem;
  border: 3px solid #216b21;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.active {
  display: flex;
}

#start-btn {
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  background: #4db94d;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

#startScreen h1 {
  color: #ffffff;
  font-family: "Bitcount Grid Double", Arial;
}

#startScreen p {
  margin-top: 10px;
  color: #f3fde9;
}

#sendGuessBtn {
  background: #4db94d;
  padding: 1.2rem 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 15px 0;
  color: #fff;
}

button {
  transition: 200ms ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.9);
}

#userInput {
  width: 100%;
  max-width: 300px;
  padding: 1.25rem;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  outline: none;
  border-radius: 12px;
  border: 1px solid green;
}

#userInput:focus {
  border: 1px solid rgb(0, 255, 0);
}

.win-txt {
  color: #ffee00;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 4rem;
}

#refresh-btn {
  font-size: 1.5rem;
  padding: 1.25rem 1.75rem;
  border-radius: 12px;
  border: none;
  background-color: #268d26;
  color: #fff;
  margin: 15px 0;
}

#endTries,
#triesDisplay {
  font-family: "Sekuya", Arial;
  font-weight: bold;
  font-size: 1.25rem;
}
